
<footer class="footer js-footer">
    <div class="wrapper">
        <div class="footer__inner">
            <ul class="footer__list">
                <li class="footer__item"><a href="#" target="_blank" class="footer__link">Помощь</a></li>
                <li class="footer__item"><a href="#" target="_blank" class="footer__link">Обратная связь</a></li>
                <li class="footer__item"><a href="#" target="_blank" class="footer__link">Разработчикам</a></li>
                <li class="footer__item"><a href="#" target="_blank" class="footer__link">Условия использования</a></li>
            </ul>
            <div class="footer__copyright">
                &copy; 2001-2017 <a href="http://yandex.ru" class="footer__link" target="_blank">ООО &laquo;Яндекс&raquo;</a>
            </div>
        </div>
    </div>
</footer>

</div>

<script src="assets/js/main.js"></script>
</body>
</html>