<div class="camera js-camera">
    <div class="camera__img-wrapper js-camera-wrapper">
        <div class="camera__movable js-camera-movable">
            <img class="camera__img js-camera-img" srcset="assets/img/img2x.png 2x, assets/img/img3x.png 3x" src="assets/img/img.png" alt="Камера">
        </div>
    </div>
    <div class="camera__info">
        <div class="camera__info-item">
            <span class="camera__info-item-name">Приближение: </span>
            <span class="camera__info-item-val js-camera-info-val" data-info="zoom">0%</span>
        </div>
        <div class="camera__info-item">
            <span class="camera__info-item-name">Яркость: </span>
            <span class="camera__info-item-val js-camera-info-val" data-info="brightness">100%</span>
        </div>
    </div>
</div>