.camera {

    &__img-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }

    &__movable {
        position: relative;
        left: -50px;
        width: 130%;
        touch-action: none;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            left: -50px;
            width: 150%;
        }
    }

    &__img {
        width: 100%;
        touch-action: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 0;
        font-size: px2rem(20px);

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}