<div class="card">
    <div class="card__header">
        <div class="card__title-block">
            <svg class="card__icon"></svg>
            <h2 class="card__title">{{title}}</h2>
        </div>

        <div class="card__meta">
            <div class="card__meta-item"></div>
            <div class="card__meta-item"></div>
        </div>
    </div>

    <div class="card__content"></div>

    <div class="card__controls">
        <button class="card__close"></button>
        <button class="card__more"></button>
    </div>
</div>