.Btn {
    padding: 15px 0;
    min-width: 130px;
    background-color: #E5E5E5;
    border: 0;
    color: inherit;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    overflow: visible;
    user-select: none;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 250ms;
    box-sizing: inherit;
}

.Btn:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}