<div class="cam js-cam" data-src="@@source">
    <div class="cam__inner js-cam-inner">
        <div class="cam__pic">
            <video class="cam__video js-cam-video" muted loop></video>
        </div>
        <div class="cam__controls">
            <div class="cam__tuners">
                <div class="cam__tuner">
                    <input type="range" class="cam__tuner-bar cam__tuner-bar--brightness js-cam-tuner-brightness">
                </div>
                <div class="cam__tuner">
                    <input type="range" class="cam__tuner-bar cam__tuner-bar--contrast js-cam-tuner-contrast">
                </div>
            </div>
            <div class="cam__sound-meter js-cam-sound-meter">
                <div class="cam__sound-meter-title">Громкость</div>
                <div class="cam__sound-meter-bar js-cam-sound-meter-bar">
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                    <div class="cam__sound-meter-segment js-cam-sound-meter-segment"></div>
                </div>
            </div>
            <button class="cam__back js-cam-back">Все камеры</button>
        </div>
    </div>
</div>