<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/style.min.css">

    <title> @@title </title>

    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
<div class="page js-page">
    <header class="header js-header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="header__logo logo">
                    <img src="assets/img/logo.svg" alt="Яндекс.Дом">
                </div>
                <button class="header__nav-btn js-header-btn">
                    <img src="assets/img/icons/icon_list.svg" alt="Меню">
                </button>
                <nav class="header__nav js-header-nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item"><a href="#" class="header__nav-link active">События</a></li>
                        <li class="header__nav-item"><a href="#" class="header__nav-link">Сводка</a></li>
                        <li class="header__nav-item"><a href="#" class="header__nav-link">Устройства</a></li>
                        <li class="header__nav-item"><a href="#" class="header__nav-link">Сценарии</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>